body {
font-family: 'Average Sans', sans-serif;
}

img#title {width: 100%;}

.element-invisible, .submitted, .form-type-item {
	display: none;
}

p#login a{
	color: #808080;
}
 
@media (max-width: 768px) {
  row {
    margin-left: 10px;
    margin-right: 10px;
  }
}
